 .divregdoctor {
  background: url('../../assets/bgdoctorreg.jpg');
  background-size: cover;
 }
 
 
 .doctors-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .listdoct {
    width: 1000px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(39, 1, 255, 0.1);
    color: black;
    text-align: center;
  }
  .listdoct th{
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.687);
    color: #fff;
    text-align: center;
  }
  .listdoct  td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.741);
    color: #000000;
    text-align: center;
    height: 60px;
  }
  .listdoct   thead th {
    background-color: #1f212a;
  }
  
    
  .listdoct tbody td:hover{
    background-color: rgba(46, 163, 221);
    }
    .listdoct tbody tr:hover{
      background-color: rgba(46, 163, 221, 0.444);
      }
  .listdoct tbody td {
    position: relative;
  }

  
  /*

  

  
  .tbody .td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(46, 163, 221, 0.879);
    z-index: -1;
  }
   */