@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Oswald:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald';
    margin-bottom: 15px;
}

li {
    text-decoration: none;
    font-size: 25px;
}
.nav-links li:hover{
    font-size: 35px;
    color: blue;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    box-shadow: rgba(50, 50, 93, 0.23) 0 30px 30px -20px;
    position: fixed;
    z-index: 999;
}
/* .logo{
    font-size: 30px;
} */
.nav-links{
    display: flex;
    justify-content: flex-end;
    width: 75%;
}

  